@import "../../styles/variables.scss";

.footer {
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__logo {
    margin-top: $m32mob;
    margin-bottom: $m16mob;
  }

  &__text {
    margin-top: $m16mob;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: clamp(12px, 5.60736vw, 48px);
    font-weight: 400;
  }
}
.spark {
  width: clamp(105px, 49.0644vw, 420px);
  height: clamp(34.5px, 16.12116vw, 138px);
  margin-bottom: $m32mob;
}

.footer_pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer-mob {
    display: none;
  }

  .spark-pc {
    margin-top: $m16;
    width: clamp(100px, 10.416vw, 400px);
    height: clamp(50px, 5.208vw, 200px);
  }

  .footer_pc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark;
    width: 100%;
    padding-top: $m32;
    margin-top: $m64;
    &__img {
      width: clamp(910px, 94.7856vw, 3640px);
      height: clamp(65.5px, 6.8224800000000005vw, 262px);
      margin: auto;
    }
  }

  .footer-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.6%;
    margin: auto;
    background-color: $dark;

    &__logo {
      width: clamp(96.5px, 10.05144vw, 386px);
      height: clamp(10.325px, 1.0754519999999999vw, 41.3px);
    }
    &__logo:hover {
      cursor: pointer;
    }

    &__items {
      display: flex;
      justify-content: center;
      align-items: center;

      &__text {
        margin: $m32;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: $font21;
        font-weight: 400;
        color: #ffffff;
        transition: 0.3s all;
      }
      &__text:hover {
        cursor: pointer;
        color: $red;
      }
    }
  }
}
