@import '../../styles/variables.scss';

.footer {
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__logo {
        margin-top: $m32mob;
        margin-bottom: $m16mob;
    }

    &__text {
        margin-top: $m16mob;
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        font-size: clamp(12px, 5.60736vw, 48px);
        font-weight: 400;
    }
}