@import "../../styles/variables.scss";

.menu {
  background-color: #ffff;
  width: 100%;
  height: clamp(350px, 163.548vw, 1400px);
  z-index: 100;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   margin-top: clamp(75px, 35.046vw, 300px);

  &__item {
    margin-top: $m32mob;
    font-family: "Roboto", sans-serif;
    font-size: $font28mob;
    color: $dark;
  }
}
