@import "../../styles/variables.scss";

.menu {
  background-color: #ffffff;
  height: clamp(425px, 198.594vw, 1700px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1000;

  &__content {
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-size: $font28mob;
    color: $dark;
    bottom: $m64mob;
    text-align: center;
    position: relative;
    &__btn {
      background-color: $red;
      border: none;
      padding: clamp(7.5px, 3.5046vw, 30px);
      font-family: "Roboto", sans-serif;
      font-size: $font22mob;
      font-weight: 500;
      color: $dark;
      width: clamp(125px, 58.41vw, 500px);
      margin-bottom: $m64mob;
      text-align: center;
      position: relative;
      bottom: $m32mob;
    }
  }
}
