@import "../../styles/variables.scss";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__main {
    font-family: "Gotham Pro", sans-serif;
    font-size: clamp(16px, 7.47648vw, 64px);
    color: $dark;
    font-weight: 700;
    text-align: center;
    width: 100%;
    line-height: clamp(22.75px, 10.630619999999999vw, 91px);
    padding-top: $m16mob;
    margin: auto;
  }

  &__main-span {
    color: $red;
  }

  &__sec {
    color: $dark;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: $font16mob;
    text-align: center;
    width: 80%;
    line-height: clamp(12.5px, 5.840999999999999vw, 50px);
    padding-top: $m16mob;
    margin: auto;
  }

  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $dark;
    color: $dark;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-size: $font21mob;
    text-align: left;
    width: clamp(135px, 63.0828vw, 540px);
    line-height: clamp(12.5px, 5.840999999999999vw, 50px);
    margin-top: $m32mob;
    margin-bottom: $m16;
    padding-bottom: clamp(5px, 2.3364vw, 20px);
    text-indent: 10px;
  }

  &__input::placeholder {
    color: $dark;
  }
  &__input:focus {
    border-bottom: 2px solid $red;
  }
}

.form_pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  .form-mob {
    display: none;
  }

  .form_pc {
    display: flex;
    width: 86.6%;
    margin: auto;

    &__img {
      height: clamp(255px, 26.5608vw, 1020px);
      position: relative;
      left: $m128;
      top: clamp(87.5px, 9.114vw, 350px);
    }
  }

  .form-pc {
    margin-top: $m128;
    flex-direction: column;
    align-items: flex-start;

    &__first {
      font-family: "Gotham Pro", sans-serif;
      color: $red;
      font-size: clamp(12px, 1.24992vw, 48px);
      font-weight: 300;
      margin-bottom: $m16;
    }

    &__main {
      font-family: "Gotham Pro", sans-serif;
      color: $dark;
      font-size: clamp(20px, 2.0832vw, 80px);
      font-weight: bold;
      margin-bottom: $m16;
    }

    &__main-span {
      color: $red;
    }

    &__sec {
      font-family: "Roboto", sans-serif;
      color: $dark;
      font-size: clamp(9px, 0.93744vw, 36px);
      font-weight: 300;
      width: 55%;
      line-height: $m32;
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: $m32;
      margin-bottom: $m64;

      &__f {
        display: flex;
        flex-direction: row;
        gap: $m64;
      }

      &__input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $dark;
        width: clamp(124px, 12.915840000000001vw, 496px);
        padding-bottom: clamp(5px, 0.5208vw, 20px);
        font-family: "Gotham Pro", sans-serif;
        color: $dark;
        font-size: clamp(13.5px, 1.40616vw, 54px);
        font-weight: 300;
        text-indent: clamp(3px, 0.31248vw, 12px);
      }

      &__input::placeholder {
        font-family: "Gotham Pro", sans-serif;
        color: $dark;
        font-size: clamp(14px, 1.45824vw, 56px);
        font-weight: 300;
        text-align: left;
      }
      &__input:focus {
        border-bottom: 2px solid $red;
      }

      &__input-s {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $dark;
        margin-top: $m64;
        margin-bottom: $m32;
        padding-bottom: clamp(5px, 0.5208vw, 20px);
        width: 82.5%;
        font-family: "Gotham Pro", sans-serif;
        color: $dark;
        font-size: clamp(13.5px, 1.40616vw, 54px);
        font-weight: 300;
        text-align: left;
        text-indent: clamp(3px, 0.31248vw, 12px);
      }
      &__input-s:focus {
        border-bottom: 2px solid $red;
      }

      &__input-s::placeholder {
        font-family: "Gotham Pro", sans-serif;
        color: $dark;
        font-size: clamp(14px, 1.45824vw, 56px);
        font-weight: 300;
        text-align: left;
      }
    }
  }
}
