@import "../../styles/variables.scss";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__main {
    font-family: "Gotham Pro", sans-serif;
    font-size: clamp(16px, 7.47648vw, 64px);
    color: $dark;
    font-weight: 700;
    text-align: center;
    width: 100%;
    line-height: clamp(22.75px, 10.630619999999999vw, 91px);
    padding-top: $m16mob;
    margin: auto;
  }

  &__main-span {
    color: $red;
  }

  &__sec {
    color: $dark;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: $font16mob;
    text-align: center;
    width: 80%;
    line-height: clamp(12.5px, 5.840999999999999vw, 50px);
    padding-top: $m16mob;
    margin: auto;
  }

  .mr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $dark;
    color: $dark;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-size: $font21mob;
    text-align: left;
    width: clamp(135px, 63.0828vw, 540px);
    line-height: clamp(12.5px, 5.840999999999999vw, 50px);
    margin-top: $m32mob;
    margin-bottom: $m16mob;
    padding-bottom: clamp(5px, 2.3364vw, 20px);
    text-indent: 10px;

    &__list {
      width: 100%;
      max-height: clamp(100px, 10.416vw, 400px);
      overflow-y: auto;
      position: absolute;
      background-color: #f9f9f9;
      border-radius: 10px;
      top: clamp(35px, 16.354799999999997vw, 140px);
      text-indent: $m8;

      &__item {
        font-size: clamp(11px, 5.140079999999999vw, 44px);
        padding: $m8;
        transition: 0.3s all;
        font-family: "Gotham Pro", sans-serif;
        font-weight: 300;
      }

      &__item:hover {
        background-color: $red;
        color: #ffffff;
      }
    }
  }

  &__input::placeholder {
    color: $dark;
  }

  &__input:focus {
    border-bottom: 2px solid $red;
  }
}

.form_pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  .form-mob {
    display: none;
  }

  .form_pc {
    display: flex;
    width: 86.6%;
    margin: auto;

    &__img {
      height: clamp(255px, 26.5608vw, 1020px);
      position: relative;
      left: $m128;
      top: clamp(82.5px, 8.5932vw, 330px);
    }
  }

  .num {
    font-family: "Gotham Pro", sans-serif;
    font-size: clamp(10px, 1.0416vw, 40px);
    color: $dark;
    text-decoration: none;
    margin-top: $m32;
  }
  .num:hover {
    text-decoration: underline;
  }
  .car-list {
    width: clamp(258px, 26.87328vw, 1032px);
    max-height: clamp(100px, 10.416vw, 400px);
    overflow-y: auto;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    top: clamp(26.5px, 2.76024vw, 106px);
    text-indent: $m8;

    &__item {
      font-size: clamp(12px, 1.24992vw, 48px);
      padding: $m8;
      transition: 0.3s all;
      font-family: "Gotham Pro", sans-serif;
      font-weight: 300;
    }

    &__item:hover {
      background-color: $red;
      color: #ffffff;
    }
  }

  .form-pc {
    margin-top: $m128;
    flex-direction: column;
    align-items: flex-start;

    &__first {
      font-family: "Gotham Pro", sans-serif;
      color: $red;
      font-size: clamp(12px, 1.24992vw, 48px);
      font-weight: 300;
      margin-bottom: $m16;
    }

    &__main {
      font-family: "Gotham Pro", sans-serif;
      color: $dark;
      font-size: clamp(20px, 2.0832vw, 80px);
      font-weight: bold;
      margin-bottom: $m16;
    }

    &__main-span {
      color: $red;
    }

    &__sec {
      font-family: "Roboto", sans-serif;
      color: $dark;
      font-size: clamp(9px, 0.93744vw, 36px);
      font-weight: 300;
      width: 50%;
      line-height: $m32;
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: $m64;

      &__f {
        display: flex;
        flex-direction: row;
        gap: $m64;
        margin-top: $m32;
      }

      &__t {
        display: flex;
        flex-direction: column;

        &__s {
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid $dark;
          margin-top: $m16;
          margin-bottom: $m32;
          padding-bottom: clamp(5px, 0.5208vw, 20px);
          width: clamp(258px, 26.87328vw, 1032px);
          font-family: "Gotham Pro", sans-serif;
          color: $dark;
          font-size: clamp(11px, 1.1457600000000001vw, 44px);
          font-weight: 300;
          text-align: left;
          text-indent: clamp(3px, 0.31248vw, 12px);
        }

        &__s:focus {
          border-bottom: 2px solid $red;
        }
      }

      &__input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $dark;
        width: clamp(112.5px, 11.718vw, 450px);
        padding-bottom: clamp(5px, 0.5208vw, 20px);
        font-family: "Gotham Pro", sans-serif;
        color: $dark;
        font-size: clamp(11px, 1.1457600000000001vw, 44px);
        font-weight: 300;
        text-indent: clamp(3px, 0.31248vw, 12px);
      }

      &__input:focus {
        border-bottom: 2px solid $red;
      }

      &__input-s {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $dark;
        margin-top: $m16;
        margin-bottom: $m32;
        padding-bottom: clamp(5px, 0.5208vw, 20px);
        width: clamp(112.5px, 11.718vw, 450px);
        font-family: "Gotham Pro", sans-serif;
        color: $dark;
        font-size: clamp(11px, 1.1457600000000001vw, 44px);
        font-weight: 300;
        text-align: left;
        text-indent: clamp(3px, 0.31248vw, 12px);
      }

      &__input-s:focus {
        border-bottom: 2px solid $red;
      }
    }
  }
}
