@import "../../styles/variables.scss";

.header-mob {
  width: 90%;
  margin: auto;
}

.header {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: $m16mob;

  &__img {
    width: clamp(38.5px, 17.99028vw, 154px);
    height: clamp(38.5px, 17.99028vw, 154px);
  }

  &__ham {
    z-index: 1000;
    position: absolute;
  }
}