@import "../../styles/variables.scss";

.header-mob {
  width: 90%;
  margin: auto;
}

.header {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: $m16mob;

  &__img {
    width: clamp(38.5px, 17.99028vw, 154px);
    height: clamp(38.5px, 17.99028vw, 154px);
  }

  &__ham {
    z-index: 1000;
    position: absolute;
  }
}

.header-pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header-mob {
    display: none;
  }

  .header-pc {
    display: flex;
    margin-top: $m64;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.6%;
    margin: auto;

    &__logo {
      width: clamp(45.5px, 4.73928vw, 182px);
      height: clamp(46.5px, 4.84344vw, 186px);
    }

    &__item {
      text-align: center;

      &__btn {
        background-color: $red;
        border: none;
        padding: clamp(7.5px, 0.7812vw, 30px);
        font-family: "Roboto", sans-serif;
        font-size: $font20;
        font-weight: 500;
        color: $dark;
        width: clamp(111px, 11.56176vw, 444px);
      }
      &__btn:hover {
        cursor: pointer;
        background-color: #ca0725;
      }
    }

    &__links {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: $font21;
      font-weight: 400;

      &__item {
        margin: $m32;
      }
    }
    &__links:hover {
      cursor: pointer;
    }
  }
}
