@import '../../styles/variables.scss';

.main-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.main-second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: $m128mob;
}