@import '../../styles/variables.scss';

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: $m128mob;

    &__img {
        width: clamp(185px, 86.4468vw, 740px);
        height: clamp(63.5px, 29.672279999999997vw, 254px);
    }

    &__con {
        margin-top: $m64mob;
        background-color: #F9F9F9;
        width: clamp(194px, 90.65231999999999vw, 776px);
        height: clamp(177px, 82.70855999999999vw, 708px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__carousel {
        width: clamp(125px, 58.41vw, 500px);
        height: clamp(63.5px, 29.672279999999997vw, 254px);
        margin-top: $m32mob;

        &__img {}
    }


}