@import "../../styles/variables.scss";

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: $m128mob;

  &__img {
    width: clamp(185px, 86.4468vw, 740px);
    height: clamp(63.5px, 29.672279999999997vw, 254px);
  }

  &__con {
    margin-top: $m64mob;
    background-color: #f9f9f9;
    width: clamp(194px, 90.65231999999999vw, 776px);
    height: clamp(177px, 82.70855999999999vw, 708px);
    display: flex;
    justify-content: center;
    align-items: center;

    &__swiper {
      &__car {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__haval {
        margin-top: clamp(45px, 21.0276vw, 180px);
      }

      &__chery {
        margin-top: clamp(27.5px, 12.8502vw, 110px);
      }
    }
  }

  &__car {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(112.5px, 52.568999999999996vw, 450px);
    height: clamp(112.5px, 52.568999999999996vw, 450px);
  }

  &__carousel {
    width: clamp(125px, 58.41vw, 500px);
    height: clamp(63.5px, 29.672279999999997vw, 254px);
    margin-top: $m32mob;

    &__img {}
  }
}

.contacts-pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  .contacts-mob {
    display: none;
  }

  .contacts-pc {
    display: flex;
  }

  .swiper {
    width: clamp(825px, 85.932vw, 3300px);
  }

  .contacts__pc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    padding-top: $m64;
    padding-bottom: $m64;

    &__nav {
      width: clamp(200px, 20.832vw, 800px);
      height: clamp(183.5px, 19.11336vw, 734px);
      background-color: #f9f9f9;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__img {
      width: clamp(114px, 11.87424vw, 456px);
      height: clamp(114px, 11.87424vw, 456px);
    }

    &__zeekr {
      width: clamp(98px, 10.20768vw, 392px);
      height: clamp(98px, 10.20768vw, 392px);
    }
  }
}